.title {
    color : var(--color-Blue-400);
}

.filter-block{
    width: 53rem;
    height:4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;


}

.filter-btn{
    width: 10rem;
    color: var(--color-Blue-400);
    background-color: var(--color-White);
    font-size: var(--font-Small);
    font-weight: var(--weight-Bold);
    padding: 1.4rem auto;
    border-radius: var(--border-radius-Small);
    border: 2px solid var(--color-Blue-400);
}

.filter-btn:hover{
    background-color: var(--color-Blue-400);
    color:var(--color-White);
    border-radius: var(--border-radius-Small);
    border: 2px solid var(--color-Blue-400);
}

.rank-block{
    margin: 0 auto;
    width:72rem;
    height:52rem;
    border-radius: var(--border-radius-Regular);
    border: 2px solid var(--color-Blue-400);
    padding: 2.5rem 3.7rem;

}

.rank-block ol{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}




.rank-block li{
    width:64.5rem;
    height:5rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-Regular);
    font-weight: var(--weight-Bold);
    color: var(--color-Blue-400);
}


.rank-profile{
    display: flex;
    flex-direction: row;
    padding-right: 22.2rem;
    align-items: center;
}
.rank-profile img{
    padding-right: 1.3rem;
}
.rank-profile div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-name{
    padding-bottom: 0.8rem;
    font-size: var(--font-Small);
    font-weight: var(--weight-Bold);
    color:var(--color-Gray-600);
}

.profile-movie{

    font-size: var(--font-Micro);
    font-weight: var(--weight-Light);
    color:var(--color-Gray-400);
}

.rank-num{
    padding-right: 5rem;
   
}

.rank-vote{
    padding-right: 1.5rem;
}

.rank-btn{
    width: 10.5rem;
    height:4rem;
    color:var(--color-White);
    background-color: var(--color-Blue-400);
    border-radius: var(--border-radius-Small);
    font-size: var(--font-Small);
    font-weight: var(--weight-Bold);
}

.rank-content--top div{
    color:var(--color-Red-300);
}

.rank-content--top button{
    background-color: var(--color-Red-300);
}