.title {
    color : var(--color-Gray-500);
    font-weight: var(--weight-Bold);
    font-size: var(--font-Large);
    text-align: center;
    margin-top: 110px;
}
.profile {
    /*margin-top: 130px;*/
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profileimg {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: var(--color-Blue-200);
}
.profiletitle {
    margin-top: 70px;
    width: 274px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.name {
    color: var(--color-Blue-600);
    font-size: var(--font-Large);
    font-weight: var(--weight-Bold);
}
.filmolist {
    margin-top: 110px;
    padding: 50px 50px 0 50px;
    border: 2px solid var(--color-Blue-400);
    border-radius: var(--border-radius-Regular);
}
.fanscore {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fanscore-L {
    color: var(--color-Gray-600);
    font-size: var(--font-Regular);
    font-weight: var(--weight-Bold);
}
.fanscore-R {
    color: var(--color-Gray-600);
    font-size: var(--font-Small);
}
.percentage {
    color: var(--color-Blue-300);
    text-align: left;
    margin: 4px auto auto 4px;
    font-size: var(--font-Semi-Micro);
    font-weight: var(--weight-Bold);
}
progress {
    -webkit-appearance: none;
    width: 100%;
    height: 32px;
    border: 2px solid var(--color-Blue-400);
    border-radius: var(--border-radius-Regular);
  }
  ::-webkit-progress-bar {
    background-color: transparent;
  }
  ::-webkit-progress-value {
    background-color: var(--color-Blue-400);
    border-radius: var(--border-radius-Small);
  }
  .characterList {
      width: 100%;
      margin: 64px auto 80px auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .individualChar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      width: 110px;
      height: 160px;
  }
  .charProfileImg {
      /*position: absolute;*/
      width: 110px;
      height: 110px;
      background-color: var(--color-Blue-200);
  }
  .tag {
      width: 25px;
      height: 25px;
      position: absolute;
      bottom: 0;
      right: 0;
  }
  .charText {
      height: 40px;
  }
  .charName {
      color: var(--color-Gray-600);
      font-size: var(--font-Small);
      font-weight: var(--weight-Bold);
      margin-top: 10px;
  }
  .charMovie {
    color: var(--color-Gray-600);
    font-size: var(--font-Micro);
    margin-top: 10px;
}