.title {
    color : var(--color-Gray-500);
    font-weight: var(--weight-Bold);
    font-size: var(--font-Large);
    text-align: center;
    margin-top: 11rem;
}
.filmInfo {
    padding: 5rem 5rem 8rem 5rem;
    border: 2px solid var(--color-Blue-400);
    border-radius: var(--border-radius-Regular);
}
.topLayout {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.poster {
    background-color: var(--color-Blue-200);
    width: 24rem;
    height: 31.3rem;
}
.titleNtag {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filmTitle {
    color: var(--color-Gray-600);
    font-size: var(--font-Regular);
    font-weight: var(--weight-Bold);
}
.infoLayout {
    width: 26rem;
}
.detailinfo {
    color: var(--color-Gray-500);
    font-size: var(--font-Small);
    text-align: left;
}
.watched {
    width: 25.2rem;
    height: 6rem;
    background-color: var(--color-Blue-400);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-Regular);
    font-weight: var(--weight-Bold);
    border-radius: var(--border-radius-Regular);
    border: none;
}
.actorList {
    color: var(--color-Gray-600);
    font-size: var(--font-Small);
    font-weight: var(--weight-Bold);
}
.listTitle {
    text-align: left;
    margin-top: 4.4rem;
}
.actorProfile {
    margin-top: 4.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.individualActor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 11rem;
}
.actorImg {
    width: 11rem;
    height: 11rem;
    background-color: var(--color-Blue-200);
    border-radius: 100%;
}
.actorName {
    color: var(--color-Gray-600);
    font-size: var(--font-Small);
    font-weight: var(--weight-Bold);
}
.actorChar {
    color: var(--color-Gray-600);
    font-size: var(--font-Micro);
    font-weight: var(--weight-Regular);
}