.title {
    color : var(--color-Gray-500);
    font-weight: var(--weight-Bold);
    font-size: var(--font-Large);
    text-align: center;
    margin-top: 11rem;
}
.profile {
    /*margin-top: 13rem;*/
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profileimg {
    width: 30rem;
    height: 30rem;
    border-radius: 100%;
    background-color: var(--color-Blue-200);
}
.profiletitle {
    margin-top: 7rem;
    width: 27.4rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.name {
    color: var(--color-Blue-600);
    font-size: var(--font-Large);
    font-weight: var(--weight-Bold);
}
.filmolist {
    margin-top: 11rem;
    padding: 5rem 5rem 0 5rem;
    border: 2px solid var(--color-Blue-400);
    border-radius: var(--border-radius-Regular);
}
.fanscore {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fanscore-L {
    color: var(--color-Gray-600);
    font-size: var(--font-Regular);
    font-weight: var(--weight-Bold);
}
.fanscore-R {
    color: var(--color-Gray-600);
    font-size: var(--font-Small);
}
.percentage {
    color: var(--color-Blue-300);
    text-align: left;
    margin: 0.4rem auto auto 0.4rem;
    font-size: var(--font-Semi-Micro);
    font-weight: var(--weight-Bold);
}
progress {
    -webkit-appearance: none;
    width: 100%;
    height: 3.2rem;
    border: 2px solid var(--color-Blue-400);
    border-radius: var(--border-radius-Regular);
  }
  ::-webkit-progress-bar {
    background-color: transparent;
  }
  ::-webkit-progress-value {
    background-color: var(--color-Blue-400);
    border-radius: var(--border-radius-Small);
  }
  .characterList {
      width: 100%;
      margin: 6.4rem auto 8rem auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .individualChar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      width: 11rem;
      height: 16rem;
  }
  .charProfileImg {
      /*position: absolute;*/
      width: 11rem;
      height: 11rem;
      background-color: var(--color-Blue-200);
  }
  .tag {
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      bottom: 0;
      right: 0;
  }
  .charText {
      height: 4rem;
  }
  .charName {
      color: var(--color-Gray-600);
      font-size: var(--font-Small);
      font-weight: var(--weight-Bold);
      margin-top: 1rem;
  }
  .charMovie {
    color: var(--color-Gray-600);
    font-size: var(--font-Micro);
    margin-top: 1rem;
}