.title {
    color : var(--color-blue-400);
    font-weight: var(--weight-bold);
    font-size: var(--font-large);
    text-align: center;
    margin-top: 11rem;
}
.filmInfo {
    padding: 5rem 5rem 8rem 5rem;
    border: 2px solid var(--color-blue-400);
    border-radius: var(--border-radius-regular);
}
.search {
    margin-top: 11rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.search_result {
    margin-top: 8rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.category, .condition {
    width: 10rem;
    height: 5rem;
    border-radius: var(--border-radius-regular);
    padding: 1rem;
    font-size: var(--font-semi-micro);
    border: 2px solid var(--color-blue-200);
}
.searchWindow {
    width: 50.2rem;
    height: 5.5rem;
    border: 2px solid var(--color-blue-400);
    border-radius: var(--border-radius-regular);
    padding: 1rem;
    font-size: var(--font-small);
}
.submit {
    width: 8rem;
    height: 5.5rem;
    background-color: var(--color-blue-400);
    border-radius: var(--border-radius-regular);
    color: var(--color-white);
    font-size: var(--font-semi-regular);
    font-weight: var(--weight-bold);
    display: flex;
    align-items: center;
    justify-content: center;
}
.conditionField {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.conditions {
    width: 60rem;
    height: 4.2rem;
    background-color: var(--color-blue-200);
    padding: 1.5rem 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-grey-600);
    font-size: var(--font-small);
    font-weight: var(--weight-bold);
}
input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    border: 3px solid var(--color-grey-600);
}


.result {
    margin-top: 8rem;
    padding: 5rem 5rem 8rem 5rem;
    border: 2px solid var(--color-blue-400);
    border-radius: var(--border-radius-regular);
}
.resultText {
    color: var(--color-grey-600);
    font-size: var(--font-semi-regular);
}