.title {
    color : var(--color-gray-500);
    font-weight: var(--weight-bold);
    font-size: var(--font-large);
    text-align: center;
    margin-top: 11rem;
}
.input {
    width: 72rem;
    margin-top: 3rem;
}
.inputBox {
    border: 2px solid var(--color-gray-350);
    padding: 0;
    width: 72rem;
    height: 11rem;
    border-radius: var(--border-radius-regular);
    margin-bottom: 1.5rem;
}
#pw_input,#id_input, #pw_confirm {
    border: none;
    outline: none;
    color: var(--color-gray-600);
    width: 80%;
    text-align: left;
    margin-left: 3.5rem;
    font-size: var(--font-regular);
}
.inputTxt {
    color: var(--color-gray-350);
    font-size: var(--font-semi-regular);
    font-weight: var(--weight-light);
    margin: 3.4rem auto 0 3.5rem;
    text-align: left;
}
.btn {
    width: 44.2rem;
    height: 6.5rem;
    border-radius: var(--border-radius-regular);
    background-color: var(--color-gray-350);
    font-size: var(--font-medium);
    font-weight: var(--weight-regular);
    font-weight: var(--weight-bold);
    color: var(--color-gray-600);
    margin: 1rem 0;
    padding: 0;
    border: none;
}
.buttons {
    margin-top: 4rem;
}