header{
    margin-top:11rem;
}

section{
    margin: 0 auto;
    width:72rem;
}

.title {
    color : var(--color-green-300);
}


.btn-block{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.test-block{
    height:46rem;
    margin: 2.4rem auto 3rem;
    border-radius: var(--border-radius-regular);
    border: 2px solid var(--color-green-300);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.3rem 14.5rem;
}

.test-text{
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
}

.test-title{
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    color:var(--color-gray-600);
    padding-bottom: 2.5rem;
}

.test-description{
    font-size:var(--font-micro);
    font-weight: var(--weight-bold);
    color:var(--color-gray-500)
}

.btn-block button{
    width:100%;
    height:6.4rem;
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    padding: 1.4rem auto;
    border-radius: var(--border-radius-regular);
    border: 2px solid var(--color-green-300);
}



.btn-block button:nth-child(1){
    color:var(--color-white);
    background-color: var(--color-green-300);
    margin-bottom: 3.2rem;
}

.btn-block button:nth-child(2){
    color:var(--color-green-300);
    background-color: var(--color-white);
    margin-bottom: 3rem;
}